/* Inserta tu codigo aqui */
body{
	font-family: "Montserrat";
}
.row{
	max-width: 100%;
	margin: 0;
}
/* header */
.titulo{
	text-align: center;
	font-size: 25px;
}
.link{
	text-decoration: none;
	color: #D0CECE;
	margin-right: 60px;
}
.nosotros{
	margin-left: 440px;
}
/* 2 OFERTA DE CLASES */
.ofertas{
	margin-left: 580px;
	font-size: 20px;
	font-weight: 600;
}
/* dos fotos de bailes */
.boxx{
	width:350px;
	height: 450px;
	position: relative;
	z-index: 1;
}
.bailesles{
	background-color: #DAD5D5;
}

.chico{
	position: absolute;
	z-index: 5;
	color:white;
	width: 300px;
	background: rgba(0,0,0,0.2);
	text-align: center;
	margin-top: 170px;
	margin-left: 25px;
}


/* container formulario*/
.pies{
   background-image: url(../img/shoes_1.jpg) ;
   height: 450px;
}
.contac{
	color:#110977;
	margin-left: 75px;
}
form{
	width: 50%;
	margin: auto;
	background: rgba(0,0,0,0.2);
	padding: 5px;
	margin-top: 2px;
	border-radius: 7px;
}

textarea, input {
		width:100%;
		margin-bottom: 2%;
		padding: 3%;
		box-sizing: border-box;
		font-size: 16px;
	}
/* container formulario*/
.finalpag .footerr{
	background-color: #110977;
	padding: 20px 20px;
	color: white;
	font-size: 15px;
}