/* Inserta tu codigo aqui */
body{
	font-family: "Montserrat";
}
.row{
	max-width: 100%;
	margin: 0;
}
/* header */
.titulo{
	text-align: center;
	font-size: 25px;
}
.link{
	text-decoration: none;
	color: #D0CECE;
	margin-right: 60px;
}
.nosotros{
	margin-left: 440px;
}
/* dos */
.fotito{
	background-image: url(../img/dance_7.jpg);
	height: 480px;
	padding-top: 150px;
	padding-left: 520px;
}
.transp{
    background: rgba(0,0,0,0.2);
    padding: 20px;
    width: 400px;
}
.nos{
	color: white;
	margin-left: 60px;
}
.nosdos{
	color: white;
}
/* dos */
.lineas{
	background-image: url(../img/cubes.png);
}
.gris{
	color: gray;
	text-align: center;
}
.grisdos{
	padding: 0 40px;
	color: gray;
	text-align: center;
}
.chico{
	width: 22%;
}
.so{
	margin-left: 200px;
}
.sol {
	margin-left: 40px;
}
.soll{
	margin-right: 180px;
}
/* tres instructores */
.instructorestres{
	text-align: center;
}
.boxx{
	width: 250px;
	height: 250px;
}
.boxxx{
	font-weight: 600
}
.profes{
	width: 21%;
}
.lado{
	margin-left: 110px;
}
.boxxxx{
	color:gray;
}
/* cuatro frase */
.fraseuni{
	height:300px;
	background-image: url(../img/cubes.png);
	padding-top: 80px;
}
.frase{
	font-size: 45px;
	text-align: center; 
}
/* container formulario*/
.pies{
   background-image: url(../img/shoes_1.jpg) ;
   height: 450px;
}
.contac{
	color:#110977;
	margin-left: 75px;
}
form{
	width: 50%;
	margin: auto;
	background: rgba(0,0,0,0.2);
	padding: 5px;
	margin-top: 2px;
	border-radius: 7px;
}

textarea, input {
		width:100%;
		margin-bottom: 2%;
		padding: 3%;
		box-sizing: border-box;
		font-size: 16px;
	}
	.color{
		background-color: #110977;
		color: white;
	}
/* final*/
.finalpag .footerr{
	background-color: #110977;
	padding: 20px 20px;
	color: white;
	font-size: 15px;
}